extends ../layout

block javascripts
  script(src='/bundles/js/admin.js')

block stylesheets
  link(rel='stylesheet', href='/bundles/css/admin.css')

block content
  .container-fluid#adminContainer
    .row
      .col-sm-3.col-md-2.sidebar
        include ./partials/navbar
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main.action-container
        block action
        img2(src='/s/ironman.jpg', class="img-responsive")
    .row
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        pre
          //- code #{JSON.stringify(locals, null, 2)}

    block templates
      .default
        | this is default