extends ../admin

block append javascripts
  script(type='text/javascript', src='/javascripts/newFile.js')

block action
  h1 New File
  hr
  
  div(class='row')
    div(class='well col-xs-12 col-md-8')
      form(role='form', action='/admin/new', method='post', enctype='multipart/form-data', id='form')
        div(class='form-group')
          label(for='txtFileName', class='control-label') Name
          input(type='text', name='fileName', class='form-control', id='txtFileName', placeholder='Enter File Name', autofocus)
        hr
        div(class='form-group')
          label(for='txtFileURL', class='control-label') URL
          input(type='text', name='fileURL', class='form-control', id='txtFileURL', placeholder='Enter File URL', value='/images/1.png')
        h4(style='text-align: center') Or
        div(class='form-group')
          label(for='fileInput', class='control-label') File
          input(type='file', name='image', id='fileInput')
        hr
        div
          img(id='imgPreview', class='img-responsive')
        hr
        div(class='form-group')
          a(href='javascript:void(0)', class='btn btn-block btn-primary', id='lnkUpload') Upload