extends ../admin

block append javascripts
  //- script(type="text/javascript", src="/bundles/js/show.js")
  script(type='text/javascript', src="/javascripts/resources.js", async, defer)
  script(type="text/javascript")
    | var onLoad = function () {
    |   var juiceImage = new JuicedImageView($('.action-container'), !{JSON.stringify(locals.image)});
    | }
  //- script(type='text/x-combined', src="/bundles/pages/edit", id='tmplAssets', async)

block append stylesheets
  //- link(rel='stylesheet', href='/bundles/css/editFile.css')

block append templates
  script(type='text/x-template', id='tmplAnnotationPopover')
    .popover(role='tooltip')
      .arrow
      h3.popover-title
      .popover-content

  script(type='text/x-template', id='tmplAnnotationPopoverContent')
    div.list-group
      a(class='list-group-item', href='javascript:void(0)', id='lnkEditAnnotation')
        h4(class='list-group-item-heading') Edit Annotation
        p(class='list-group-item-text')
          | This is some static content that should actually be dynamic. But I'm lazy.
      a(class='list-group-item', href='javascript:void(0)')
        span.glyphicon.glyphicon-edit
        |  Edit Annotation
      a(class='list-group-item list-group-item-danger delete-annotation', href='javascript:void(0)')
        span.glyphicon.glyphicon-trash
        |  Delete Annotation

  script(type='text/x-template', id='tmplAnnotationDOM')
    a(class='annotation', style='top: {{y}}px; left: {{x}}px;')

  include ../annotations/common/annotation_form


block action
  div.row
    h1 Edit &ndash; #{locals.image.name}
  div.row
    .well.btn-group
      a.btn.btn-default.btn-md#btnStart Start/Pause
        span.glyphicon.glyphicon-pencil
        span.glyphicon.glyphicon-pause.hidden
        //- | &nbsp;Edit
      a.btn.btn-default.btn-md#btnPreview Preview On/Off
        span.glyphicon.glyphicon-eye-open
        span.glyphicon.glyphicon-eye-close.hidden
      a.btn.btn-default.btn-md#btnDeleteAll Clear
        span.glyphicon.glyphicon-trash
        //- | &nbsp;Delete All
  div.row
    div.image-container.well
      img(data-img-src="#{locals.imageSource()}", class="img-responsive", id="mainImage")

  div.row
    div.col-xs-12
      pre
        code
          | #{JSON.stringify(locals.image)}